body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #666;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background: orange;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
}